@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--border-color: #dedede;
	--background-color: #fff;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f7f7f7;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 40%;
	width: 350px;
}
h1 {
	width: 100%;
	text-align: left;
	margin-top: 0;
}
h2 {
	font-size: 1.6rem;
	font-weight: 500;
}
h4 {
	text-align: left;
	width: 100%;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0;
	text-transform: uppercase;
}
#balance {
	margin-top: 0;
}
.inc-exp-calculator {
	display: flex;
	background-color: var(--background-color);
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.inc-exp-calculator div {
	text-align: center;
}
.inc-exp-calculator > div:first-of-type {
	border-right: 1px solid var(--border-color);
	padding-right: 1.6rem;
}
.inc-exp-calculator div h4 {
	margin-top: 1rem;
}
#money-minus,
#money-plus {
	margin-top: 0;
}
#money-minus {
	color: #c0392b;
}
#money-plus {
	color: #2ecc71;
}
h3 {
	text-align: left;
	width: 100%;
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 0.2rem;
	margin-bottom: 0.2rem;
}

.list {
	list-style-type: none;
	width: 100%;
}
.list li {
	background-color: var(--background-color);
	width: 100%;
}

.form {
	width: 100%;
}
.form-control {
	border: none;
	padding: 0;
}
input,
label,
.btn {
	display: block;
	width: 100%;
	height: 1.8rem;
}
input {
	padding: 0;
	margin-bottom: 0.3rem;
	border: 1px solid var(--border-color);
}
label {
	padding-bottom: 5px;
	margin-bottom: 0.2rem;
	padding-top: 10px;
}
.btn {
	margin-top: 0.3rem;
	background-color: #9c88ff;
	color: var(--background-color);
}
label[for='amount'] {
	padding-bottom: 35px;
}
